* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    color: #333;
    margin: 0 50px;
    background-image: url(./assets/coin-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}

main {
    width: 350px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
}

.container-left {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 100px 200px 0 0;
}

.container-left h2 {
    font-size: 30px;
    letter-spacing: 2px;
    padding: 10px;
    font-weight: 100;
}

span {
    font-weight: 700;
}

h1 {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.input-currency::-webkit-outer-spin-button,
.input-currency::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-currency {
    -moz-appearance: textfield;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 30px;
}

button:hover {
    background-color: #555;
}

button:active {
    opacity: 0.8;
}

.currency-box-converted,
.currency-box-to-convert {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
}

.result {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 10px;
}

.result img {
    width: 50px;
    margin-bottom: 8px;
}

.arrow {
    font-size: 30px;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.footer {
    background-color: #EDEFEB;
    margin-top: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
    color: black;
}

footer i {
    font-size: 18px;
    padding: 0 0 5px 5px;
    transition: 0.5s;
}

.footer h2 {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
}

footer i:hover {
    transform: translateY(-3px);
}

footer a:active {
    opacity: .7;
}

.alert-message {
    color: red;
    font-size: 16px;
    margin-top: 10px;
    display: none;
    /* Inicialmente escondida */
    text-align: center;
}

@media screen and (max-width: 1190px) {
    body {
        background-position: 70% 50%;
    }
}

@media screen and (max-width: 950px) {

    .container-left {
        margin: 100px 50px 0 0;
    }

    .container-left h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 800px) {

    .container-left {
        margin: 100px 30px 0 0;
    }

    .container-left h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {

    .container-left h2 {
        font-size: 20px;
        letter-spacing: 0px;
        padding: 10px;
        font-weight: 100;
        text-align: center;
    }

    h1 {
        font-size: 30px;
        text-align: left;
    }
}

@media screen and (max-width: 680px) {

    body {
        background-image: url(./assets/coin-mobile.png);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: left;
        flex-direction: column;
        justify-content: center;
    }

    .main-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .title {
        text-align: center;
    }

    main {
        margin-bottom: 20px;
    }

    select,
    input {
        margin-bottom: 18px;
    }

    .result {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        padding: 0;
        margin-top: 15px;
    }

    section p {
        display: flex;
        padding: 2px;
    }

    .currency-box-to-convert,
    .currency-box-converted {
        padding: 0;
        margin: 5px 5px;
    }

    .container-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        margin-top: 20px;
        text-align: center;
        margin: 50px 0 50px 0;
    }




}