* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

h1 {
font-size: 30px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 20px;

}

.background-image {
    position: fixed;
    top: 0;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
}

main {
    width: 375px;
    border-radius: 15px;
    background: #F4F4F4;
    padding: 15px 15px 15px;
    opacity: 0.88;
}

label {
    color: #777;
    font-size: 18px;
    font-weight: 400;
}

select,
input {
    border-radius: 50px;
    border: 1px solid #BBB;
    background: #FFF;
    height: 45px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #555;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}


button {
    border-radius: 50px;
    background: #394740;
    width: 100%;
    border: none;
    height: 48px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .6;
}

section {
    border-radius: 20px;
    border: 1.5px solid #394740;
    margin-top: 20px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.currency-box-to-convert,
.currency-box-converted {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: #555;
    font-size: 18px;
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.arrow-img {
height: 38px;
width: 35px;
transform: rotate(90deg); /* Equal to rotateZ(45deg) */
}

@media screen and (max-width: 750px) {

    h1 {
        font-size: 25px;
    }
    
    main {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    select,
    input {
        margin-bottom: 12px;
    }

    section {
        height: auto;
        padding: 8px;
        display: flex;
        gap: 0;
            }

    .currency-box-to-convert,
    .currency-box-converted {
        display: inline-block;
        margin: 8px 10px;
        text-align: center;
    }

}